

.container-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}